services:
  app:
    build: .
    ports:
      - "8080:8080"
      - "9464:9464"

  victoria-metrics:
    image: victoriametrics/victoria-metrics:latest
    container_name: victoria-metrics
    ports:
      - "8428:8428"
    volumes:
      - vmdata:/storage
    command:
      - "--retentionPeriod=1" # 1 month

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

volumes:
  vmdata:
